body {
    background-color: #252526;
    color: white;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}



.player1{
    /* background-color: red !important; */
    background-image: url(/assets/x-player-removebg-preview.png);
    background-position: center;
    background-size: cover;
   
}


.player2{
    /* background-color: rgb(0, 184, 230) !important; */
    background-image: url(/assets/o-player-removebg-preview.png);
    background-position: center;
    background-size: cover;
}


.tabuleiro {
    background-color: white;
    margin: auto;
    width: 400px ;
    max-width: 100%;
    height: 400px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.tabuleiro div {
    transition: 0.5s;
    background-color: #656570;
    margin: 2px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.tabuleiro div:hover {
    transition: 1s;
    background-color: #8d8d9c;
    margin: 2px;
}


.painel-players {
    background-color: #2c2e30;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.win {
    background-color: lightgreen !important;
    
}


.old-woman-element {

}

.old-woman-chat {
    position: absolute; transform: translate(220px, -300px);
    background-color: white;
    border-radius: 20px 0px;
    padding: 20px; color: black;
    font-weight: 1000;
    line-height: 1.4;
    max-width: 200px;
}

@media screen and (max-width: 700px) {
    /* regras CSS a serem aplicadas */
    .old-woman-element{
        display: none;
    }

    .github-project-text{
        display: none;
    }
  }
  