body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   
    margin: auto;

}

main {
    max-width: 950px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid black;
    
    min-height: 100vh;
   
    
}

.player1 {
    /* background-color: red !important; */
    background-image: url(../assets/close.svg);
    background-position: center;
}


.player2 {
    /* background-color: rgb(0, 184, 230) !important; */
    background-image: url(../assets/circle.svg);
    background-position: center;
  
}


.tabuleiro {
    background-color: white;
    margin: auto;
    width: 250px;
    max-width: 100%;
    height: 250px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.tabuleiro div {
    transition: 0.5s;
    background-color: #a3a3ab;
    margin: 2px;
    background-position: center;
    
    background-repeat: no-repeat;
    background-size: 70%;
}



.tabuleiro div:hover {
    cursor: pointer;
}
.tabuleiro div:active {
    transition: 1s;
    background-color: #dfdfdf;
    margin: 2px;
    
}


.painel-players {
    background-color: #8db6df;
    padding: 30px;
    display: flex;
    justify-content: space-between;
   

}

.win {
    background-color: lightgreen !important;

}


.nowinner {
    background-color: rgb(238, 144, 144) !important;
}

.old-woman-element {}

.old-woman-chat {
    position: absolute;
    transform: translate(190px, -260px);
    background-color: white;
    border-radius: 20px 0px;
    padding: 20px;
    color: black;
    line-height: 1.4;
    font-size: 0.9rem;
    max-width: 165px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 700px) {

    /* regras CSS a serem aplicadas */
    .old-woman-element {
        display: none;
    }

    .github-project-text {
        display: none;
    }

   
}


header {
    background-color: #7592af;
    height: 120px;
    z-index: -10;
    position: absolute;
    width: 100%;
    filter: blur(5px)
}



.ball {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 0;
    margin: 20px;
    background-image: url(../assets/close.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color:#8db6df;
    border-radius: 50%;
    border: 2px solid black;
}


.dsplay {
    display: flex; align-items: center; justify-content: space-around; margin-top: 40px;
}




.description {
    display: flex;
    width: 100%;
    padding: 30px;
    gap: 8%;
    box-sizing: border-box
}


@media screen and (max-width: 700px) {

    /* regras CSS a serem aplicadas */
    .description {
        flex-direction: column;
    }

   
}
